.login{
  height: 100vh;
  background: linear-gradient(#0000007e, #0000007e),url(/background_banner.jpg);
  padding: 20px 8%;
}
.login-logo{
  width: 150px;
}

.login-form{
  width: 100%;
  max-width: 450px;
  background: rgba(0,0, 0, 0.75);
  margin: auto;
  padding: 60px;
  border-radius: 4px;
}

.login-form h1{
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 28px;
}
.login-form input{
  width: 100%;
  height: 60px;
  border: 0;
  margin: 12px 0;
  background: #333;
  color: white;
  outline: 0;
  padding: 16px 20px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
}

.login-form input::placeholder{
  font-size: 16px;
  font-weight: 500;
}

.login-form button{
  width: 100%;
  color: white;
  background: #e50914;
  padding: 16px;
  border: none;
  outline: 0;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
}

.form-help{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #b3b3b3;
  font-size: 13px;
}

.remember{
  display: flex;
  align-items: center;
  gap: 5px;
}

.remember input{
  height: 18px;
  width: 18px;
}

.form-switch{
  margin-top: 40px;
  color: #737373;
}
.form-switch span{
  margin-left: 6px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}